/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

$main_font: "Source Sans Pro", sans-serif;
$title_font: "Playfair Display", serif;

* {
  margin: 0;
  box-sizing: border-box;
  font-family: $main_font;
}
