.baseContainer {
  padding-left: 5vw;
  position: relative;
}

header {
  position: relative;
  z-index: 15;
  display: flex;
  justify-content: space-between;
  padding-top: 5vh;

  .logoContainer {
    // width: 100px;
    display: flex;
    align-items: flex-end;

    img {
      object-fit: cover;
      height: 80px;
    }

    p {
      margin-bottom: 0.3em;
      margin-top: 0;
      margin-left: 1em;
      position: relative;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 0.9em;
      line-height: 1.3em;
      letter-spacing: 0.1em;
      width: 245px;
    }
  }

  nav {
    width: 50%;

    ul {
      height: 100%;
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;

      li {
        a {
          display: flex;
          align-items: center;
          height: 100%;
          text-transform: uppercase;
          padding: 5px 15px;
          text-decoration: none;
          color: black;
          font-size: 1.3em;
          font-family: "Roboto Condensed", sans-serif;

          &:focus {
            color: black;
          }
        }

        ul.subnav {
          margin: 0;
          padding: 0;
          list-style-type: none;
          display: none;

          li {
            a {
              color: red;
            }
          }
        }
      }
    }
  }
}

.shapeForNav {
  position: absolute;
  right: 0;
  top: 0;
  height: 40vh;
  width: 50vw;
  background-color: #75ecb7;
  z-index: 10;
}

.title {
  z-index: 15;
  position: absolute;
  top: 25vh;
  left: 7.2vw;
  color: white;
  font-size: 5em;
  font-style: italic;
  font-weight: 300;
  font-family: "Playfair Display", serif;
}

.mainShape {
  z-index: 9;
  position: relative;
  width: 80%;
  height: 60vh;
  margin-top: 10vh;
  background: #2d2d2d;
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: flex-end;

  .datetime {
    color: white;

    .date {
      font-size: 3em;
      font-weight: 900;
      margin-right: 10px;
    }

    .time {
      font-size: 3em;
      font-weight: 300;
    }
  }
}

.mainImage {
  width: 50vw;
  height: 40vh;
  z-index: 10;
  position: absolute;
  right: 10vw;
  bottom: -10vh;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .imagePattern {
    position: absolute;
    left: 0;
    top: 0;
    width: initial;
    height: initial;
  }
}
