<div class="baseContainer">
  <header>
    <div class="logoContainer">
      <img src="../../../../../assets/logo2_2.png" alt="Dmsbzt Celje Logo" />
      <p>
        STROKOVNO DRUŠTVO MEDICINSKIH SESTER, BABIC IN ZDRAVSTVENIH TEHNIKOV
        CELJE
      </p>
    </div>
    <nav>
      <ul>
        <li>
          <a href="#">O nas</a>
          <ul class="subnav">
            <li><a href="#">Predstavitev</a></li>
            <li><a href="#">Organi društva</a></li>
            <li><a href="#">Naša vizija in poslanstvo</a></li>
            <li><a href="#">Statut</a></li>
          </ul>
        </li>

        <li><a href="#">Članstvo</a></li>
        <li><a href="#">Dokumenti</a></li>
        <li><a href="#">Dejavnosti</a></li>
      </ul>
    </nav>
  </header>

  <div class="shapeForNav"></div>

  <div class="title">Vabilo na seminar</div>

  <div class="mainShape">
    <div class="datetime">
      <span class="date">13.02</span>
      <span class="time">19:30</span>
    </div>
  </div>

  <div class="mainImage">
    <img
      class="imagePattern"
      src="../../../../../assets/banner_pattern.png"
      alt=""
    />
    <img
      src="../../../../../assets/neonbrand-1-aA2Fadydc-unsplash.jpg"
      alt=""
    />
  </div>
</div>
