<div class="mainContainer">
  <div class="outerContainer">
    <header>
      <div class="logoContainer">
        <img src="../../../../../assets/logo2_2.png" alt="Logo" />
        <div class="logoText">
          Strokovno društvo medicinskih sester, babic in zdravstvenih tehnikov
          Celje
        </div>
      </div>

      <nav class="navbar">
        <div class="dropdown">
          <button class="dropbtn">
            <i style="margin-right:5px;" class="fas fa-bars"></i>Menu
          </button>
          <div class="dropdown-content">
            <div class="column">
              <h2>O društvu</h2>
              <div class="element">
                <a href="#">Predstavitev</a>
              </div>
              <div class="element">
                <a href="#">Organi društva</a>
              </div>
              <div class="element">
                <a href="#">Vizija in poslanstvo</a>
              </div>
              <div class="element">
                <a href="#">Statut DMSBZT Celje</a>
              </div>
            </div>

            <div class="column">
              <h2>Članstvo</h2>
              <div class="element">
                <a href="#">Častni člani</a>
              </div>
              <div class="element">
                <a href="#">Dobitniki srebrnih znakov</a>
              </div>
              <div class="element">
                <a href="#">Galerija dogodkov</a>
              </div>
            </div>

            <div class="column">
              <h2>Dejavnosti</h2>
              <div class="element">
                <a href="#">Program dela 2020</a>
              </div>
              <div class="element">
                <a href="#">Program dela 2019</a>
              </div>
              <div class="element">
                <a href="#">Program dela 2018</a>
              </div>
              <div class="element">
                <a href="#">Program dela 2017</a>
              </div>
              <div class="element">
                <a href="#">Program dela 2016</a>
              </div>
              <div class="element">
                <a href="#">Program dela 2015</a>
              </div>
              <div class="element">
                <a href="#">Program dela 2014</a>
              </div>
              <div class="element">
                <a href="#">Program dela 2013</a>
              </div>
            </div>

            <div class="column">
              <h2>Dokumenti</h2>
              <div class="element">
                <a href="#">Pravilniki</a>
              </div>
              <div class="element">
                <a href="#">Sklepi</a>
              </div>
            </div>

            <div class="column">
              <h2>Literatura</h2>
              <div class="element">
                <a href="#">Kodeks etike</a>
              </div>
              <div class="element">
                <a href="#">Mesečna revija Utrip</a>
              </div>
              <div class="element">
                <a href="#">Zborniki</a>
              </div>
            </div>

            <div class="column">
              <h2>Tečaj jezikov</h2>
              <div class="element">
                <a href="#">Angleščina</a>
              </div>
              <div class="element">
                <a href="#">Nemščina</a>
              </div>
              <div class="element">
                <a href="#">Italijanščina</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="displaySection">
      <div class="displayText">
        <div class="displayTop">
          <h1>Pohod na Krim</h1>
          <div class="datetime">
            <span class="date">29.02</span>
            <span class="time"
              ><i
                style="margin: 15px 5px 5px 10px; font-size: 0.4em;"
                class="far fa-clock"
              ></i
              >08:30</span
            >
          </div>
        </div>

        <div class="displayBottom">
          <div class="readMore">
            <button>
              Preberi več
              <i style="margin-left: 5px;" class="fas fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="displayImage">
        <div class="imageCornerShapeBottom"></div>
        <div class="imageCornerShapeTop"></div>
        <img
          src="../../../../../assets/galen-crout-fItRJ7AHak8-unsplash.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

<div class="midsectionFlex">
  <!-- strokovna srečanja -->
  <div class="strokovnaSrecanjaContainer">
    <div class="strokovnaSrecanjaTitleContainer">
      <h1>Strokovna srečanja</h1>
      <div class="strokovnaSrecanjaRight">
        <button class="link">E-prijava</button>
        <button class="archive">
          <i
            style="margin-right: 5px; color: black;"
            class="far fa-folder-open"
          ></i
          >Vsa strokovna srečanja
        </button>
      </div>
    </div>

    <div class="flexContainer">
      <div class="gridRow">
        <div class="item">
          <div class="itemContents">
            <div class="topSectionItem">
              <h3>
                Ogled predstave Adamsovi v Mestnem gledališču Ljubljana
              </h3>
              <p>Danes</p>
            </div>

            <div class="bottomSectionItem">
              <div class="itemWhen">
                <i class="far fa-calendar"></i> 12.03. ob 08:30
              </div>
              <div class="itemWhere">
                <i class="fas fa-map-marker-alt"></i> Srednja zdravstvena šola
                Celje
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="itemContents">
            <div class="topSectionItem">
              <h3>Vabilo na seminar</h3>
              <p>Čez 3 dni</p>
            </div>

            <div class="bottomSectionItem">
              <div class="itemWhen">
                <i class="far fa-calendar"></i> 12.03. ob 08:30
              </div>
              <div class="itemWhere">
                <i class="fas fa-map-marker-alt"></i> Srednja zdravstvena šola
                Celje
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="itemContents">
            <div class="topSectionItem">
              <h3>Vabilo na seminar</h3>
              <p>Čez 1 mesec</p>
            </div>

            <div class="bottomSectionItem">
              <div class="itemWhen">
                <i class="far fa-calendar"></i> 12.03. ob 08:30
              </div>
              <div class="itemWhere">
                <i class="fas fa-map-marker-alt"></i> Srednja zdravstvena šola
                Celje
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- aktualna obvestila -->
  <div class="strokovnaSrecanjaContainer">
    <div class="strokovnaSrecanjaTitleContainer">
      <h1>Druženje</h1>
      <div class="strokovnaSrecanjaRight">
        <button class="archive">
          <i
            style="margin-right: 5px; color: black;"
            class="far fa-folder-open"
          ></i
          >Arhiv vseh druženj
        </button>
      </div>
    </div>
    <div class="flexContainer">
      <div class="gridRow">
        <div class="item">
          <div class="itemContents">
            <div class="topSectionItem">
              <h3>
                Ogled predstave Adamsovi v Mestnem gledališču Ljubljana
              </h3>
              <p>Danes</p>
            </div>

            <div class="bottomSectionItem">
              <div class="itemWhen">
                <i class="far fa-calendar"></i> 12.03. ob 08:30
              </div>
              <div class="itemWhere">
                <i class="fas fa-map-marker-alt"></i> Srednja zdravstvena šola
                Celje
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="itemContents">
            <div class="topSectionItem">
              <h3>Vabilo na seminar</h3>
              <p>Čez 3 dni</p>
            </div>

            <div class="bottomSectionItem">
              <div class="itemWhen">
                <i class="far fa-calendar"></i> 12.03. ob 08:30
              </div>
              <div class="itemWhere">
                <i class="fas fa-map-marker-alt"></i> Srednja zdravstvena šola
                Celje
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="itemContents">
            <div class="topSectionItem">
              <h3>Vabilo na seminar</h3>
              <p>Čez 1 mesec</p>
            </div>

            <div class="bottomSectionItem">
              <div class="itemWhen">
                <i class="far fa-calendar"></i> 12.03. ob 08:30
              </div>
              <div class="itemWhere">
                <i class="fas fa-map-marker-alt"></i> Srednja zdravstvena šola
                Celje
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="lastsection">
  <div class="lastsectionFlexContainer">
    <div class="lastsectionGridRow">
      <div class="lastsectionItem">
        <div class="lastsectionItemContents pdfItem">
          <h1>Izpostavljeni dokumenti</h1>
          <div class="pdfContainer">
            <img src="../../../../../assets/icons8-pdf-64.png" alt="pdf icon" />
            <div>Kodeks etike</div>
          </div>

          <div class="pdfContainer">
            <img src="../../../../../assets/icons8-pdf-64.png" alt="pdf icon" />
            <div>Pristopna izjava za članstvo v zbornici in strok. društvu</div>
          </div>

          <div class="pdfContainer">
            <img src="../../../../../assets/icons8-pdf-64.png" alt="pdf icon" />
            <div>
              Prošnja za dodelitev sredstev za strokovno izpopolnjevanje
            </div>
          </div>

          <div class="pdfContainer">
            <img src="../../../../../assets/icons8-pdf-64.png" alt="pdf icon" />
            <div>Prošnja za dodelitev sredstev za šolnino</div>
          </div>
        </div>
      </div>

      <div class="lastsectionItem">
        <div class="lastsectionItemContents utrinki">
          <div class="utrinkiTitleContainer">
            <h1>Utrinki dogodkov</h1>
            <button class="archive">
              <i
                style="margin-right: 5px; color: black;"
                class="far fa-images"
              ></i
              >Galerija slik
            </button>
          </div>

          <div class="bothImages">
            <div class="imageOne">
              <img
                src="../../../../../assets/neonbrand-1-aA2Fadydc-unsplash.jpg"
                alt=""
              />
              <div class="imageOneShape"></div>
            </div>

            <div class="imageTwo">
              <img
                src="../../../../../assets/galen-crout-fItRJ7AHak8-unsplash.jpg"
                alt=""
              />

              <div class="imageTwoShape"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="lastsectionItem">
        <div class="lastsectionItemContents literatura">
          <div class="literaturaTitleContainer">
            <h1>Strokovna literatura</h1>

            <button class="archive">
              <i
                style="margin-right: 5px; color: black;"
                class="far fa-file"
              ></i
              >Vsa literatura
            </button>
          </div>
          <div class="literaturaContainer">
            <img
              src="../../../../../assets/icons8-microsoft-powerpoint-64.png"
              alt="pdf icon"
            />
            <div>Almanah za leto 2019</div>
          </div>

          <div class="literaturaContainer">
            <img
              src="../../../../../assets/icons8-microsoft-powerpoint-64.png"
              alt="pdf icon"
            />
            <div>Almanah za leto 2018</div>
          </div>

          <div class="literaturaContainer">
            <img
              src="../../../../../assets/icons8-microsoft-powerpoint-64.png"
              alt="pdf icon"
            />
            <div>
              Mednarodno leto medicinskih sester
            </div>
          </div>

          <div class="literaturaContainer">
            <img
              src="../../../../../assets/icons8-microsoft-powerpoint-64.png"
              alt="pdf icon"
            />
            <div>
              Poklicne kompetence in aktivnosti izvajalcev v dejavnosti
              zdravstvene nege
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="footerContentContainer">
    <div class="leftSideFooter">
      <div class="dmsbztInfo">
        <h1>Kontakt</h1>
        <div class="naslov">
          <i class="fas fa-map-marker-alt"></i> Gregorčičeva 5, 3000 Celje,
          Slovenija
        </div>
        <div class="telefon"><i class="fas fa-phone"></i> 051-398-909</div>
        <div class="email">
          <i class="far fa-envelope"></i> info@dmsbzt-celje.si
        </div>
      </div>
    </div>
    <div class="rightSideFooter">
      <h1>Mesečna revija Utrip</h1>
      <div class="utripImgContainer">
        <img src="../../../../../assets/utrip.png" alt="Revija Utrip" />
        <div class="utripShape"></div>
      </div>
    </div>
  </div>

  <div class="bottomPartFooter">
    <p class="pravice">© 2020 Vse pravice pridržane</p>
  </div>
</footer>
