.mainContainer {
  background-color: beige;
  padding: 30px 0;

  .outerContainer {
    padding-top: 20px;
    max-width: 1200px;
    margin: auto;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // position: relative;

      .logoContainer {
        padding: 15px;
        // width: 160px;

        display: flex;
        align-items: flex-end;

        img {
          //   border: 15px solid #aebaf8;
          object-fit: cover;
          width: 100px;
          height: 100%;
        }

        .logoText {
          font-weight: 300;
          margin-bottom: 5px;
          //   font-family: "Playfair Display", serif;
          width: 200px;
          margin-left: 10px;
        }
      }

      .navbar {
        // overflow: hidden;
        //   font-family: Arial, Helvetica, sans-serif;
        // height: 92px;
      }

      .navbar a {
        float: left;
        font-size: 1.1em;
        text-align: center;
        padding: 5px 15px;
        text-decoration: none;
        margin: 0 5px;
        display: flex;
        align-items: center;
        height: 100%;
        color: whitesmoke;
        text-transform: uppercase;
      }

      .dropdown {
        float: left;
        overflow: hidden;
        height: 100%;
      }

      .dropdown .dropbtn {
        font-size: 1.1em;
        border: none;
        outline: none;
        padding: 5px 15px;
        margin: 0;
        cursor: pointer;
        background-color: white;
        height: 100%;
        text-transform: uppercase;
      }

      .navbar a:hover,
      .dropdown:hover .dropbtn {
      }

      .dropdown-content {
        padding: 114px 30px 60px 30px;
        // padding: 30px;
        visibility: hidden;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 7;
        transition: 0.3s ease;
        opacity: 0;
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.158);
        // border-bottom: 4px solid #aebaf8;
        display: flex;
        justify-content: center;
        background: white;
      }

      .dropdown:hover .dropdown-content {
        visibility: visible;
        opacity: 1;

        @for $i from 0 through 7 {
          & .column:nth-child(#{$i}) {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            transition-delay: $i * 0.1s;
          }
        }
      }

      .column {
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        transition: 0.5s ease;
        opacity: 0;
        visibility: hidden;
        transform: translateY(50px);

        h2 {
          font-size: 1em;
          text-transform: uppercase;
          margin-bottom: 10px;
          // font-family: "Playfair Display", serif;
          font-weight: 600;
          color: black;
        }

        .element {
          position: relative;
          // display: inline-block;
          padding: 5px 0;
          overflow: hidden;

          a {
            font-size: 1em;
            display: block;
            color: grey;
            padding: 0;
            margin: 0;
            text-transform: initial;
            display: flex;
            align-items: center;
            transition: 0.2s ease;

            &:hover {
              color: black;
            }
          }
        }
      }

      .row:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    .displaySection {
      margin-top: 30px;
      padding: 30px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 500px;

      .displayText {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 70%;

        h1 {
          font-size: 4em;
          // font-family: "Playfair Display", serif;
          // margin-bottom: 10px;
        }

        .datetime {
          font-size: 3em;
          flex-grow: 1;
          display: flex;

          .date {
            margin-right: 5px;
          }

          .time {
            font-weight: 200;
            display: flex;
            align-items: flex-start;
          }
        }

        .readMore {
          button {
            display: block;
            border: 2px solid transparent;
            background-color: #fb5c5c;
            text-transform: uppercase;
            padding: 10px 20px;
            cursor: pointer;
            transition: 0.2s ease;
            color: white;
            font-weight: bold;

            i {
              transition: 0.1s ease;
            }

            &:active {
              outline: none;
            }

            &:hover {
              background-color: black;
              color: white;

              i {
                transform: translateX(5px);
              }
            }
          }
        }
      }

      .displayImage {
        flex-basis: 50%;
        //   overflow: hidden;
        height: 100%;
        position: relative;

        .imageCornerShapeBottom {
          position: absolute;
          height: 40%;
          width: 40%;
          background-color: #aebaf8;
          left: -20px;
          bottom: -20px;
          z-index: 5;
        }

        .imageCornerShapeTop {
          position: absolute;
          height: 40%;
          width: 40%;
          background-color: #aebaf8;
          right: -20px;
          top: -20px;
          z-index: 5;
        }

        img {
          position: relative;
          z-index: 6;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.midsectionFlex {
  padding-top: 60px;
  //   display: flex;
  max-width: 1200px;
  margin: auto;

  .strokovnaSrecanjaContainer {
    width: 100%;

    .strokovnaSrecanjaTitleContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
      }

      .strokovnaSrecanjaRight {
        button.link {
          border: 2px solid transparent;
          background-color: #fb5c5c;
          text-transform: uppercase;
          padding: 10px 20px;
          cursor: pointer;
          -webkit-transition: 0.2s ease;
          transition: 0.2s ease;
          color: white;
          font-weight: bold;
          margin-right: 10px;

          &:hover {
            background-color: black;
          }
        }

        button.archive {
          border: 2px solid transparent;
          background-color: transparent;
          padding: 10px 20px;
          cursor: pointer;
          -webkit-transition: 0.2s ease;
          transition: 0.2s ease;
          color: grey;
          text-decoration: underline;
          font-weight: bold;

          &:hover {
            color: black;
          }
        }
      }
    }

    h1 {
      font-size: 2em;
    }

    .flexContainer {
      margin: 20px 0;

      .gridRow {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        .item:first-child {
          padding-left: 0;
        }

        .item:last-child {
          padding-right: 0;
        }

        .item {
          font-weight: 300;
          height: 250px;
          flex-basis: 33.33%;
          -ms-flex: auto;
          // width: 259px;
          position: relative;
          padding: 10px;
          box-sizing: border-box;

          .itemContents {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            //   margin: 10px;
            background: beige;
            padding: 20px;
            width: 100%;
            height: 100%;
            //   box-shadow: 0px 3px 10px 1px #0000005c;
            border-bottom: 5px solid #aebaf8;

            .topSectionItem {
              h3 {
                font-size: 1.5em;
                font-weight: 300;
              }

              p {
                margin-top: 5px;
                font-weight: bold;
                font-size: 1.3em;
              }
            }

            .bottomSectionItem {
              .itemWhen {
                i {
                  margin-right: 5px;
                }
              }

              .itemWhere {
                i {
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.lastsection {
  padding: 60px 0;
  background-color: beige;
  margin-top: 60px;

  .lastsectionFlexContainer {
    margin: 20px 0;
    max-width: 1200px;
    margin: auto;

    .lastsectionGridRow {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .lastsectionItem:first-child {
        padding-left: 0;
      }

      .lastsectionItem:last-child {
        padding-right: 0;
      }

      .lastsectionItem {
        font-weight: 300;
        height: 370px;
        flex-basis: 33.33%;
        -ms-flex: auto;
        // width: 259px;
        position: relative;
        padding: 10px;
        box-sizing: border-box;

        .lastsectionItemContents {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 20px;
          width: 100%;
          height: 100%;

          &.pdfItem {
            display: flex;
            flex-direction: column;

            h1 {
              font-size: 1.5em;
              font-weight: normal;
            }

            .pdfContainer {
              display: flex;
              align-items: center;

              img {
                height: 50px;
              }

              div {
                color: grey;
                font-size: 0.95em;
                font-weight: normal;
                margin-left: 5px;
                text-transform: uppercase;
                transition: 0.2s ease;
                cursor: pointer;

                &:hover {
                  color: black;
                }
              }
            }
          }

          &.utrinki {
            display: flex;
            flex-direction: column;

            .utrinkiTitleContainer {
              display: flex;
              justify-content: space-between;
              align-items: center;

              h1 {
                // margin-bottom: 20px;
                font-size: 1.5em;
                font-weight: normal;
              }

              button.archive {
                border: 2px solid transparent;
                background-color: transparent;
                cursor: pointer;
                -webkit-transition: 0.2s ease;
                transition: 0.2s ease;
                color: grey;
                // text-decoration: underline;
                // font-weight: bold;

                &:hover {
                  color: black;
                }
              }
            }

            .bothImages {
              position: relative;
              height: 100%;
              margin-top: 10px;

              .imageOne {
                width: 100%;
                height: 130px;
                position: absolute;
                top: 20px;
                left: 20px;
                transition: 0.2s ease;

                &:hover {
                  .imageOneShape {
                    width: 50%;
                    height: 100%;
                  }
                }

                img {
                  width: 50%;
                  height: 100%;
                  position: relative;
                  z-index: 6;
                }

                .imageOneShape {
                  position: absolute;
                  top: -10px;
                  left: -10px;
                  background-color: #aebaf8;
                  width: 70px;
                  height: 50px;
                  z-index: 5;
                  transition: 0.5s ease;
                }
              }

              .imageTwo {
                width: 100%;
                height: 130px;
                display: flex;
                justify-content: flex-end;
                position: absolute;
                bottom: 10px;
                right: 20px;
                transition: 0.2s ease;

                img {
                  width: 50%;
                  height: 100%;
                  position: relative;
                  z-index: 6;
                }

                &:hover {
                  .imageTwoShape {
                    width: 50%;
                    height: 100%;
                  }
                }

                .imageTwoShape {
                  position: absolute;
                  bottom: -10px;
                  right: -10px;
                  background-color: #aebaf8;
                  width: 110px;
                  height: 30px;
                  z-index: 5;
                  transition: 0.5s ease;
                }
              }
            }
          }

          &.literatura {
            display: flex;
            flex-direction: column;

            .literaturaTitleContainer {
              display: flex;
              justify-content: space-between;
              align-items: center;
              // margin-bottom: 20px;

              h1 {
                font-size: 1.5em;
                font-weight: normal;
              }

              button.archive {
                border: 2px solid transparent;
                background-color: transparent;
                cursor: pointer;
                -webkit-transition: 0.2s ease;
                transition: 0.2s ease;
                color: grey;
                // text-decoration: underline;
                // font-weight: bold;

                &:hover {
                  color: black;
                }
              }
            }

            .literaturaContainer {
              display: flex;
              align-items: center;

              img {
                height: 50px;
              }

              div {
                color: grey;
                font-size: 0.95em;
                font-weight: normal;
                margin-left: 5px;
                text-transform: uppercase;
                -webkit-transition: 0.2s ease;
                transition: 0.2s ease;
                cursor: pointer;

                &:hover {
                  color: black;
                }
              }
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: #111;
  width: 100%;
  height: 450px;
  //   border-top: 10px solid #aebaf8;

  .footerContentContainer {
    max-width: 800px;
    margin: auto;
    height: 100%;
    color: white;
    display: flex;
    justify-content: space-between;

    .leftSideFooter {
      display: flex;
      align-items: center;

      .dmsbztInfo {
        h1 {
          margin-bottom: 30px;
          font-weight: normal;
        }

        .naslov {
          margin-bottom: 20px;

          i {
            margin-right: 10px;
          }
        }

        .telefon {
          margin-bottom: 20px;

          i {
            margin-right: 10px;
          }
        }

        .email {
          i {
            margin-right: 10px;
          }
        }
      }
    }

    .rightSideFooter {
      margin: 30px 0;
      display: flex;
      // align-items: center;
      flex-direction: column;

      h1 {
        font-weight: normal;
        margin-bottom: 20px;
      }

      .utripImgContainer {
        display: flex;
        position: relative;

        img {
          width: initial;
          height: initial;
          object-fit: cover;
          position: relative;
          z-index: 6;
        }

        .utripShape {
          position: absolute;
          left: -10px;
          bottom: -10px;
          background-color: #aebaf8;
          z-index: 5;
          width: 50%;
          height: 100%;
        }
      }
    }
  }

  .bottomPartFooter {
    background-color: #000;

    .pravice {
      font-size: 0.9em;
      color: lightgrey;
      padding: 15px;
      text-align: center;
    }
  }
}

@media (max-width: 1333px) {
  .midsectionFlex {
    .strokovnaSrecanjaContainer {
      .flexContainer {
        .gridRow {
          .item {
            flex-basis: 33.33%;
          }
        }
      }
    }
  }
}

@media (max-width: 1073px) {
  .midsectionFlex {
    .strokovnaSrecanjaContainer {
      .flexContainer {
        .gridRow {
          .item {
            flex-basis: 50%;
          }
        }
      }
    }
  }
}

@media (max-width: 815px) {
  .midsectionFlex {
    .strokovnaSrecanjaContainer {
      .flexContainer {
        .gridRow {
          .item {
            flex-basis: 50%;
          }
        }
      }
    }
  }
}

@media (max-width: 555px) {
  .midsectionFlex {
    .strokovnaSrecanjaContainer {
      .flexContainer {
        .gridRow {
          .item {
            flex-basis: 100%;
          }
        }
      }
    }
  }
}
